/* Reset */
*, *:before, *:after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f1f3;
}

input, a, button {
    outline: none;
    color: inherit;
    text-decoration: none;
}

a:focus {
    color: inherit;
    text-decoration: none;
    outline: none;
}

button:focus {
    outline: none !important;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}
/*Reset end*/

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.invisible-element {
    display: none;
}

.active {
    background-color: #cbca4c;
}

.row {
    display: flex;
    align-items: stretch;
    margin-left: -25px;
    margin-right: -25px;
}

.mockup-full-width {
    flex: 10 !important;
}

$borderColor: #d1d1d1;
$headerHeight: 70px;
$navColor: #f0f317;
$hrColor: #d9d9d9;
$maxPageWidth: 1100px;
$pageMobileWidth: 90%;
$xs: 767px;
$s: 991px;

nav {
    position: fixed;
    height: $headerHeight;
    min-height: $headerHeight;
    width: 100%;
    background-color: $navColor;
    font-size: 18px;
    box-shadow: 0 1px 5px 0 rgba(84, 83, 81, 0.68);

    .nav-wrapper {
        width: 70%;
        margin: auto;
        max-width: $maxPageWidth;

        @media (max-width: $xs) {
            font-size: 0.9em;
            width: $pageMobileWidth;
        }
    }

    .nav__left-side {
        font-size: 1.6em;
        float: left;
        line-height: $headerHeight;

        a {
            display: block;
            float: left;
            cursor: pointer;
            padding-right: 10px;
            transition: all 0.3s;

            &:hover {
                background-color: #cbca4c;
            }

            @media (max-width: $xs) {
                padding-right: 0;
            }

            img {
                float: left;
                padding: 10px;
            }

            span {
                padding-left: 10px;
                float: left;
                color: #333;

                @media (max-width: $xs) {
                    display: none;
                }
            }
        }
    }

    .nav__right-side {
        float: right;

        & > a {
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                background-color: #cbca4c;
            }

            img {
                float: left;
            }

            span {
                display: inline-block;
            }
        }

        ul {
            background-color: #fcfcfc;
            border: 1px solid #eee;
            border-top: none;
            box-shadow: 0 10px 15px 0 rgba(84, 83, 81, 0.68);

            li {
                cursor: pointer;
                border-bottom: 1px solid #eee;
                font-size: 0.8em;

                &:last-of-type {
                    border-top: 1px solid #eee;
                    border-bottom: none;
                }

                &:hover {
                    background-color: #eee;
                }

                a {
                    display: block;
                    padding: 8px 18px;
                    color: #333;
                    text-decoration: none;
                }
            }
        }
    }

    .nav__img-wrapper {
        display: block;
        position: relative;
        line-height: $headerHeight - 30px;
        padding: 15px;

        img {
            max-height: $headerHeight - 30px;
            border-radius: 40px;
        }

        .nav__profile-name {
            margin-left: 20px;
        }
    }

    .logo img {
        max-height: $headerHeight;
    }
}

.page-wrapper {
    padding-top: $headerHeight;
    width: 70%;
    max-width: $maxPageWidth;
    margin: auto;

    @media (max-width: $xs) {
        width: $pageMobileWidth;
    }

    $pad: 35px;

    .ideas-section, .ideas-user-section {
        padding-top: $pad;

        @media (max-width: $xs) {
            padding-top: $pad / 2;
        }

        .ideas-filter {
            display: inline-block;

            &__current, li:hover {
                border-bottom: 3px solid #ddda4b;
            }

            li {
                display: inline-block;
                float: left;
                padding: 8px 14px;
                margin-right: 10px;
                cursor: pointer;
                transition: all 0.1s;
            }
        }
    }

    .ideas-user-section {
        padding-top: 5px;
    }

    .user-section {
        padding-top: $pad;

        @media (max-width: $xs) {
            padding-top: $pad / 4;
        }

        .user-bio {
            background-color: #fcfcfc;
            width: 70%;
            margin: 0 auto;
            padding: 40px;
            line-height: 1.4;
            box-shadow: 10px 10px 15px -10px rgba(27, 28, 5, 1);
            font-size: 16px;
            display: flex;
            flex-direction: column;

            @media (max-width: $xs) {
                padding: 20px;
                margin-top: 25px;
                margin-bottom: 25px;
                width: 100%;
            }

            &__main {
                flex: 1;
                padding-bottom: 5px;

                &__avatar {
                    background: url(../img/profile.jpg);
                    background-position: center;
                    background-size: cover;
                    margin: 0 auto;
                    width: 150px;
                    height: 150px;
                    border: 1px solid $borderColor;
                    border-radius: 10px;

                    @media (max-width: $xs) {
                        width: 100px;
                        height: 100px;
                    }
                }

                &__username {
                    text-align: center;
                    padding-top: 15px;
                }
            }

            &__info {
                flex: 3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                $width: 80%;

                &__desc {
                    padding-top: 10px;
                    margin: 0 auto;
                    width: $width;
                    max-width: 600px;
                    text-align: center;

                    i {
                        font-weight: 600;
                        font-style: italic;
                    }
                }

                &__stats {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 auto;
                    width: $width;

                    .stats-button {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        background-color: #fff;
                        width: 100%;
                        padding: 3px;
                        margin-top: 20px;
                        border: 1px solid $borderColor;
                        border-collapse: collapse;
                        text-align: center;

                        $radius: 10px;

                        &:first-of-type {
                            border-top-left-radius: $radius;
                            border-bottom-left-radius: $radius;
                        }

                        &:last-of-type {
                            border-top-right-radius: $radius;
                            border-bottom-right-radius: $radius;
                        }

                        &__name {
                            color: #555;
                        }

                        &__value {
                            font-weight: 600;
                        }
                    }
                }

                @media (max-width: $xs) {
                    &__desc, &__stats {
                        width: 95%;
                    }
                }
            }
        }
    }

    .idea {
        background-color: #fcfcfc;
        padding: 40px;
        line-height: 1.4;
        margin: 50px 0;
        box-shadow: 10px 10px 15px -10px rgba(27, 28, 5, 1);
        font-size: 16px;

        @media (max-width: $xs) {
            padding: 20px;
            margin: 25px 0;
        }

        &:first-of-type {
            margin-top: $pad;

            @media (max-width: $xs) {
                margin: $pad / 2 0;
            }
        }

        &__header {
            min-height: 40px;
            font-weight: 600;
            overflow: hidden;
            clear: left;

            @media (max-width: $xs) {
                font-size: 0.8em;
            }

            &__name {
                font-size: 1.8em;
                float: left;
                max-width: 75%;
            }

            &__rating {
                border: 1px solid $borderColor;
                background-color: #fdfdfd;
                float: right;
                font-size: 1.4em;
                margin-right: 10px;
                border-radius: 30px;
                padding: 3px 15px;

                @media (max-width: $xs) {
                    padding: 1px 2px;
                    margin-right: 0;
                }

                span {
                    padding: 4px;

                    @media (max-width: $xs) {
                        padding: 3px;
                    }
                }

                .rating {
                    cursor: pointer;
                    font-weight: 800;
                    transition: all 0.2s;

                    &__plus {
                        color: green;

                        &:hover {
                            color: #00c100;
                        }
                    }

                    &__minus {
                        color: #bc0000;

                        &:hover {
                            color: #ff0000;
                        }
                    }
                }
            }
        }

        &__text {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            $indent: 20px;

            margin-top: $indent;

            h1 {
                font-size: 1.4em;
                font-weight: 600;
            }

            h2 {
                font-size: 1.2em;
                font-weight: 600;
            }

            h3 {
                margin: 5px 0;
                font-size: 1em;
                font-weight: 600;
            }

            &__main {
                margin-bottom: $indent;
            }

            &__functions {
                margin-bottom: $indent;

                ul {
                    list-style-type: disc;
                    padding: 0 10px 0 40px;
                    margin-top: 10px;
                }
            }

            &__mockups {
                margin-bottom: $indent;

                h1 {
                    margin-bottom: $indent;
                }

                .img-grid {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    @media (max-width: $xs) {
                        flex-direction: column;
                    }

                    &__wrapper {
                        flex: 1;
                        transition: all 1s;
                        padding: 0 10px;
                    }

                    img {
                        transition: all 1s ease-in-out;
                        width: 100%;
                        cursor: pointer;
                    }
                }
            }

            &__tags {
                align-self: flex-end;
                margin: 30px 0 10px 0;

                div {
                    font-size: 0.8em;
                    padding: 5px 12px;
                    margin: 0 7px;
                    border-radius: 15px;
                    display: inline-block;
                    background-color: $navColor;
                    cursor: pointer;
                }
            }
        }

        &__footer {
            padding: 20px 10px;
            line-height: 30px;
            font-size: 1.1em;
            color: #627588;
            display: block;

            @media (max-width: $xs) {
                padding-bottom: 25px;
            }

            a {
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            &__full {
                float: left;
            }

            &__comments {
                float: right;
                padding-right: 10px;

                .comment-icon {
                    color: rgba(120, 40, 200, 0);
                    background-image: url('../img/comments.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }

            hr {
                width: 80%;
                border: 1px solid $hrColor;
            }
        }
    }

    .footer-hr {
        margin-top: 50px;
        width: 80%;
        border: 1px solid $hrColor;
    }

    .page-footer {
        margin: 40px;
        text-align: center;

        &__links {
            display: flex;
            line-height: 40px;
            justify-content: center;

            @media (max-width: $xs) {
                flex-direction: column;
            }

            li {
                float: left;
                padding-right: 15px;
                padding-left: 15px;

                &:first-of-type {
                    border-right: 1px solid $hrColor;

                    @media (max-width: $xs) {
                        border: 0;
                    }
                }

                a {
                    text-decoration: underline;
                }
            }
        }
    }

    .single-idea-section {

        .comments {
            margin-top: 30px;
            font-size: 1.2em;
            color: #333;

            .answer-block {
                margin: 20px 0;
            }

            .comments-block {
                margin: 10px 0 0 0;
                border-bottom: 1px solid #eee;
                padding: 8px 0;

                &:last-of-type {
                    border: 0;
                }
            }

            .flex-item {
                flex: 2;
            }

            .avatar {
                flex-grow: 1;

                &__wrapper {
                    background: url(../img/profile.jpg);
                    background-position: center;
                    background-size: cover;
                    margin: 0 auto;
                    width: 100px;
                    height: 100px;
                    border: 1px solid #ddd;
                    border-radius: 100px;

                    @media (max-width: $xs) {
                        width: 50px;
                        height: 50px;
                    }
                }

                &__username {
                    font-size: 0.65em;
                    text-align: center;
                    margin: 0 auto;
                }
            }

            .input-place {
                font-size: 0.9em;
                display: flex;
                border-collapse: collapse;
                width: 100%;

                $radius: 5px;

                textarea {
                    flex: 6;
                    font: inherit;
                    font-size: 0.8em;
                    padding: 10px;
                    padding-top: 3px;
                    height: 150px;
                    border: 1px solid $borderColor;
                    resize: none;
                    outline: none;
                    border-top-left-radius: $radius;
                    border-bottom-left-radius: $radius;

                    @media (max-width: $xs) {
                        flex: 4;
                    }
                }

                &__button {
                    flex: 1;
                    text-align: center;
                    font-size: 0.7em;
                    padding: 58px 0;
                    background-color: #fafafa;
                    border: 1px solid $borderColor;
                    cursor: pointer;
                    transition: all 0.5s;
                    border-top-right-radius: $radius;
                    border-bottom-right-radius: $radius;

                    &:hover {
                        background-color: $navColor;
                    }

                    @media (max-width: $xs) {
                        width: 90%;
                    }
                }
            }

            .comment {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                flex-grow: 3;
                font-size: 0.75em;
                border-radius: 15px;
                padding: 0 10px;

                &__date {
                    font-size: 0.7em;
                    color: #888;
                    align-self: flex-end;
                }
            }
        }
    }

    .settings-section {
        background-color: #fcfcfc;
        padding: 25px 30px 40px 30px;
        line-height: 1.4;
        margin: 50px 0;
        box-shadow: 10px 10px 15px -10px rgba(27, 28, 5, 1);
        font-size: 16px;

        @media (max-width: $s) {
            padding: 20px 10px;
        }

        h1 {
            text-align: center;
            font-size: 1.6em;
            font-weight: 600;
            margin-bottom: 25px;
        }

        .settings {
            display: flex;

            @media (max-width: $xs) {
                flex-direction: column;
            }

            &__info {
                flex: 1;
                text-align: center;

                &__avatar {
                    background: url(../img/profile.jpg);
                    background-position: center;
                    background-size: cover;
                    margin: 0 auto;
                    width: 200px;
                    height: 200px;
                    border: 1px solid #ddd;
                    border-radius: 10px;
                }

                &__change-avatar {
                    margin-top: 15px;
                    margin-bottom: 15px;
                    background-color: #fff;
                    box-shadow: none;
                    padding: 8px 12px;
                    cursor: pointer;
                    border: 1px solid $borderColor;
                    border-radius: 3px;
                    transition: all 0.5s;

                    &:hover {
                        background-color: $navColor;
                    }
                }
            }

            &__main {
                flex: 2;
                border: 1px solid $borderColor;
                background-color: #fff;
                border-radius: 10px;
                padding: 10px 15px;

                $lnheight: 24px;
                $fontsize: 1em;

                h2 {
                    font-size: 1.2em;
                    font-weight: 600;
                    text-align: center;
                }

                .form-input {
                    margin: 22px 20px;
                    display: flex;
                    line-height: $lnheight;
                    font-size: $fontsize;
                    align-items: center;

                    @media (max-width: $xs) {
                        flex-direction: column;
                    }

                    label {
                        flex: 1;
                    }

                    input {
                        line-height: $lnheight;
                        flex: 3;
                        border: 1px solid $borderColor;
                        border-radius: 5px;
                        box-shadow: none;
                        padding: 2px 4px 2px 12px;
                        font-size: $fontsize;
                        width: 100%;

                        &[disabled] {
                            cursor: not-allowed;
                        }
                    }

                    textarea {
                        line-height: $lnheight;
                        flex: 3;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        font: inherit;
                        padding: 2px 12px 2px 12px;
                        font-size: $fontsize;
                        width: 100%;
                        resize: none;
                        outline: none;
                    }
                }
            }
        }
    }

    .newidea-section {
        text-align: center;
        background-color: #fcfcfc;
        padding: 25px 30px 40px 30px;
        line-height: 1.4;
        margin: 50px 0;
        box-shadow: 10px 10px 15px -10px rgba(27, 28, 5, 1);
        font-size: 16px;

        @media (max-width: $s) {
            padding: 20px 10px;
        }

        .new-input {
            display: none;
        }

        h1 {
            text-align: center;
            font-size: 1.6em;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .new-idea {
            display: flex;
            flex-direction: column;
            font-size: 1em;
            text-align: left;

            $lnheight: 24px;
            $fontsize: 1em;

            & > div  {
                display: flex;
            }

            .form-input {
                margin: 12px 0;
                display: flex;
                line-height: $lnheight;
                font-size: $fontsize;
                align-items: center;

                @media (max-width: $xs) {
                    flex-direction: column;
                }

                label {
                    flex: 1;

                    @media (max-width: $xs) {
                        margin-bottom: 5px;
                    }
                }

                input {
                    line-height: $lnheight;
                    flex: 5;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    box-shadow: none;
                    padding: 2px 4px 2px 12px;
                    font-size: $fontsize;
                    width: 100%;

                    &[disabled] {
                        cursor: not-allowed;
                    }
                }

                textarea {
                    line-height: $lnheight;
                    flex: 5;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font: inherit;
                    padding: 2px 12px 2px 12px;
                    font-size: $fontsize;
                    width: 100%;
                    resize: none;
                    outline: none;
                }

                button {
                    width: 40px;
                    height: $lnheight + 8px;
                    margin: 0 auto;
                    font-weight: 600;
                    font-size: 1.2em;
                    background-color: #fff;
                    box-shadow: none;
                    cursor: pointer;
                    border: 1px solid $borderColor;
                    border-radius: 4px;
                    transition: all 0.5s;

                    &:hover {
                        background-color: $navColor;
                    }

                    @media (max-width: $xs) {
                        margin-top: 10px;
                    }
                }
            }

            &__func {

                &__wrapper {
                    flex: 4;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }

                input {
                    flex: 1 !important;
                    margin-bottom: 10px !important;
                }

                &__add {
                    flex: 1;
                    text-align: center;
                    line-height: $lnheight;
                }

                label, &__add {
                    align-self: flex-start;

                    @media (max-width: $xs) {
                        align-self: center;
                    }
                }
            }

            &__mockup {

                &__add {
                    flex: 5;
                    line-height: $lnheight;

                    button {
                        width: 100px !important;
                        font-weight: 300 !important;
                        font-size: 1em !important;
                    }
                }
            }

            &__other {

                label {
                    align-self: flex-start;

                    @media (max-width: $xs) {
                        align-self: center;
                    }
                }

                &__wish-wrapper {
                    flex: 4;
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .wish-hr {
                        width: 100%;
                        margin-top: 10px;
                        margin-bottom: 20px;
                    }

                    input {
                        margin-bottom: 10px;
                    }
                }

                &__add {
                    align-self: flex-start;
                    flex: 1;
                    text-align: center;
                    line-height: $lnheight;

                    @media (max-width: $xs) {
                        align-self: center;
                    }
                }
            }
        }

        hr {
            margin-top: 20px;
            margin-bottom: 35px;
            border: 1px solid $hrColor;
        }

        .create-idea {
            text-align: center;
            height: 38px;
            width: 50%;
            margin: 0 auto;
            font-weight: 600;
            font-size: 1em;
            background-color: #fff;
            box-shadow: none;
            cursor: pointer;
            border: 1px solid $borderColor;
            border-radius: 4px;
            transition: all 0.5s;

            &:hover {
                background-color: $navColor;
            }

            @media (max-width: $xs) {
                width: 100%;
            }
        }
    }
}